useDynLib(coneproj)
import("Rcpp")
importFrom("stats", "qt", "fitted", "model.matrix", "model.response", "pbeta", "printCoefmat", "pt", "rnorm", "coef", "qnorm")
importFrom("utils", "head", "tail")
importFrom("methods", "is")
export("coneA","coneB","qprog","constreg","shapereg","check_irred","incr","decr","conv","conc","incr.conv","decr.conv","incr.conc","decr.conc")
S3method(fitted, coneproj)
S3method(coef, coneproj)
S3method(summary, coneproj)
S3method(print, summary.coneproj)
S3method(vcov, constreg)
